{% extends 'base_auth.html' %}
{% block title %}
  Login
{% endblock %}

{% block navbar %}
    <a class="text-sky-50 hover:text-sky-50 font-semibold transition-all duration-300 ease-out hover:underline hover:scale-105 hover:-translate-y-0.5" href="sign_up">Sign Up</a>
{% endblock %}

{% block content %}
<div class="min-h-screen flex flex-col items-center justify-start bg-[#FFDADA] px-4 pt-16">

  <h2 class="text-4xl font-bold text-[#7A1E1E] mb-6 no-select text-center">
    Log in
  </h2>

  <div class="w-full max-w-sm bg-[#FFF0F0] backdrop-blur-sm rounded-2xl shadow-md p-10 relative">

    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {% comment %} {{ authen_form.non_field_errors }} {% endcomment %}

      <div class="w-full border-b border-[#D9AFAF] focus-within:border-[#FE768B] transition-colors duration-300 mr-20">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          required
          class="w-full bg-transparent py-2 focus:outline-none placeholder-[#E1BABA]"
        />
        {{ authen_form.username.errors }}
      </div>
      <br>

      <div class="w-full border-b border-[#D9AFAF] focus-within:border-[#FE768B] transition-colors duration-300 mb-4">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
          class="w-full bg-transparent py-2 focus:outline-none placeholder-[#E1BABA]"
        />
        {{ authen_form.password.errors }}
      </div>

      <!-- Messages -->
      {% if messages %}
      <div class="mt-4 text-center">
        {% for message in messages %}
        <p class="text-red-500 text-sm">{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
  </div>

    <p class="text-sm text-gray-700 text-center mt-6">
      Don’t have an account?
      <a href="{% url 'sign_up' %}" class="text-[#A00000] hover:underline font-medium">Create account</a>
    </p><br><br>

    <button
      type="submit"
      class="w-1/2 bg-gradient-to-b from-[#FEA5B0] to-[#FE768B] hover:from-[#FF7A7A] hover:to-[#FF4C4C] text-white font-semibold py-2 rounded-full shadow-md transition duration-300 mx-auto block"
      >
      Log in
    </button>
  </form>

</div>
{% endblock %}

